.patch{
    height: 43vw;
    width: 38vw;
    object-fit: cover;
    position: relative;

}

.text1 {
    position: absolute;
    top: 5vw; /* adjust this value according to your preference */
    left: 1vw; /* adjust this value according to your preference */
    color: white; /* or any color you prefer */
    font-size: 4.2vw; /* or any font size you prefer */
    color: rgb(237, 226, 4);
    font-weight: bold;
    text-shadow: 5px 5px 3px black;
}
.text2 {
    position: absolute;
    top: 9.5vw; /* adjust this value according to your preference */
    left: 1vw; /* adjust this value according to your preference */
    color: white; /* or any color you prefer */
    font-size: 4.2vw; /* or any font size you prefer */
    color: rgb(237, 226, 4);
    font-weight: bold;
    text-shadow: 5px 5px 3px black;
}
.text3 {
    position: absolute;
    top: 16vw; /* adjust this value according to your preference */
    left: 1vw; /* adjust this value according to your preference */
    color: white; /* or any color you prefer */
    font-size: 1.2vw; /* or any font size you prefer */
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* text-shadow: 5px 5px 3px black; */
}

