
#home {
    background-color: rgb(3, 0, 32);
    z-index: 10;
    color: white;

}

#home1 {
    background: rgb(223,29,29);
    background: linear-gradient(148deg, rgba(223,29,29,0.56) 0%, rgba(0,0,0,0) 35%);
    z-index: 20;
    height: 100%; 
}


#home2 {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 31%, rgba(1,93,160,0.6111694677871149) 100%);
    z-index: 30;
    height: 100%; 
}

