
#patch1{
    height: 41vw;
    width: 59.5vw;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    position: absolute;
}

.right{
    align-content: end;
    position: relative;
    display: flex;
    justify-content: end;
  
}

#aboutus{
    padding-right: 4vmax;
    color: rgb(214, 203, 0);
    font-weight: bold;
    text-shadow: 10px 10px 7px rgb(0, 0, 0);
}