
#patch1{
    height: 41vw;
    width: 59.5vw;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    position: absolute;
}

.right{
    align-content: end;
    position: relative;
    display: flex;
    justify-content: end;
  
}

#aboutus{
    padding-right: 4vmax;
    color: rgb(214, 203, 0);
    font-weight: bold;
    text-shadow: 10px 10px 7px rgb(0, 0, 0);
}

.pagemm{
    height:fit-content;
    width: fit-content;
    border: solid white 2px;
    color: white;
    border-radius: 50px;
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.3vw;
}